.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter {
  position: relative;
}

.arena___fighter img {
  height: 480px;
}

.arena___right-fighter.hit {  
  transform: translateX(-100px);
}

.arena___left-fighter.hit {
  transform: translateX(100px);
}

.arena___right-fighter.critical-hit {
  transform: translateX(-300px);
}

.arena___left-fighter.critical-hit {
  transform: translateX(300px);
}

.arena___right-fighter.block {
  transform: translateX(50px);
}

.arena___left-fighter.block {
  transform: translateX(-50px);
}

.arena___fighter::before {
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #ebd759;    
  color: #000;
  text-align: center;
}

.hit::before {
  content: "Hit";
}

.critical-hit::before {
  content: "Critical Hit";
}

.block::before {
  content: "Block";
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
}

.arena___fighter-critical-hit-board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-top: 15px;    
  padding: 5px;    
  font-size: 1.5em;    
  background-color: aquamarine;
  border: 1px solid #000;
  border-radius: 5px;
    
}
